.footer 
    .footer__logo 
        img(src='/img/Shamba Bay.png', alt='Shamba logo')
    ul.footer__nav 
        li: a(href="#")  About Us
        li: a(href="#")  
            div.badge__container
                span.title_download  Download Apps
                span.footer__badge coming soon
        li: a(href="#")  Join F-Producer
        li: a(href="#")  Careers
        li: a(href="#")  Contact
    p.footer__copyright &copy; by Shamba Bay. All rights reserved.